@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --background-principal: #181818;
    --background-buttons: #8A2BE2;
    --text-principal: #FFF;
    --text-secondary: #b0b0b0;
    --principal-font: 'Inter', 'sans-serif';
    --secondary-font: 'Poppins';
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin-top: 30px; /* Espaço extra no topo dos títulos */
    margin-bottom: 10px; /* Espaço extra abaixo dos títulos */
}

article.markdown ul li{
    font-family: var(--principal-font);
    color: var(--text-principal);
}

article.markdown a{
    text-decoration: none;
    font-family: var(--principal-font);
    color: var(--text-principal);
}


article.markdown h1 {
    font-family: var(--principal-font);
    color: var(--text-principal);
    font-size: 2rem;
}


article.markdown p{
    font-family: var(--principal-font);
    color: var(--text-secondary);
}

article.markdown pre {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
  
article.markdown code {
    font-family: "Courier New", monospace;
    padding: 2px 5px;
    border-radius: 4px;
}